
@{
    ViewData["Title"] = "发生了错误：";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>错误</title>
</head>

<body>
    <h1>
        @ViewBag.Error

    </h1>
</body>
</html>
